/* 全局样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%; /* 确保body宽度为100% */
    box-sizing: border-box; /* 确保所有元素包括内边距和边框在内的总宽度 */
}

/* 电脑设备的样式 */
body.desktop .daohanglan {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    margin: 0 auto;
}

body.desktop header {
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    width: 100%;
}

body.desktop header .logo {
    flex-shrink: 0;
    margin-right: 20px;
}

body.desktop header .logo img {
    height: 100px;
}

body.desktop header nav {
    display: flex;
    align-items: center;
}

body.desktop header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

body.desktop header nav ul li {
    margin-right: 50px;
}

body.desktop header nav ul li:last-child {
    margin-right: 0;
}

body.desktop header nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

/* 幻灯片样式 */
body.desktop .slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

body.desktop .mySlides {
    display: none;
    width: 100%;
}

body.desktop .mySlides img {
    vertical-align: middle;
    width: 100%;
}

/* 主页横幅上一张下一张按钮 */
body.desktop .prev,
body.desktop .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

body.desktop .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

body.desktop .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* 悬停时，添加带有一点透明的黑色背景色 */
body.desktop .prev:hover,
body.desktop .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* 点和圆 */
body.desktop .dots-container {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

body.desktop .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

body.desktop .active,
body.desktop .dot:hover {
    background-color: #717171;
}

/* 淡入淡出动画 */
body.desktop .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/* 侧边栏 */
body.desktop .sidebar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    z-index: 1000;
}

body.desktop .sidebar-item {
    position: relative;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body.desktop .sidebar-item p {
    margin: 0;
}

body.desktop .icon {
    font-size: 20px;
}

body.desktop .popup {
    display: none;
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    white-space: nowrap;
}

body.desktop .sidebar-item:hover .popup {
    display: block;
}

body.desktop main .icon img {
    height: 50px;
}

/* 公司介绍 */
body.desktop .introduce {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

body.desktop .introduce p {
    font-size: 30px;
    font-weight: bold;
}

/* 产品介绍 背景板 */
body.desktop .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

body.desktop .product-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body.desktop .product-item img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

body.desktop .labels {
    margin-bottom: 10px;
}

body.desktop .labels .recommend,
body.desktop .labels .new {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    border-radius: 3px;
    font-size: 12px;
    margin-right: 5px;
}

body.desktop .labels .recommend {
    background-color: #f56342;
}

body.desktop .labels .new {
    background-color: #ffcc00;
}

body.desktop .description {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
}

body.desktop .price {
    font-size: 20px;
    color: #e60012;
    margin: 10px 0;
    font-weight: bold;
}

body.desktop .shipping {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
}

/* 地图 */
body.desktop .road {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    margin-top: 20px;
}

body.desktop .road p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

body.desktop #map-container {
    max-width: 800px;
    margin: 0 auto;
}

body.desktop #map {
    width: 50%;
    height: 600px;
}

/* 底部样式 */
body.desktop footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* 手机设备的样式 */
body.mobile .daohanglan {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0; /* 减少填充 */
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

body.mobile header {
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0; /* 减少填充 */
    width: 100%;
    box-sizing: border-box;
}

body.mobile header .logo {
    flex-shrink: 0;
    margin-right: 10px; /* 减少间距 */
}

body.mobile header .logo img {
    height: 50px; /* 减少高度 */
}

body.mobile header nav {
    display: flex;
    align-items: center;
}

body.mobile header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

body.mobile header nav ul li {
    margin-right: 20px; /* 减少间距 */
}

body.mobile header nav ul li:last-child {
    margin-right: 0;
}

body.mobile header nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

/* 幻灯片样式 */
body.mobile .slideshow-container {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
}

body.mobile .mySlides {
    display: none;
    width: 100%;
}

body.mobile .mySlides img {
    width: 100%;
    display: block;
}

/* 主页横幅上一张下一张按钮 */
body.mobile .prev,
body.mobile .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 10px; /* 减少填充 */
    color: white;
    font-weight: bold;
    font-size: 14px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

body.mobile .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

body.mobile .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* 悬停时，添加带有一点透明的黑色背景色 */
body.mobile .prev:hover,
body.mobile .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* 点和圆 */
body.mobile .dots-container {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

body.mobile .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

body.mobile .active,
body.mobile .dot:hover {
    background-color: #717171;
}

/* 淡入淡出动画 */
body.mobile .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/* 侧边栏 */
body.mobile .sidebar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #ffffff;
    padding: 5px; /* 减少填充 */
    border-radius: 10px 0 0 10px;
    z-index: 1000;
    width: 30px; /* 减小宽度 */
    height: auto; /* 自动高度 */
    box-sizing: border-box;
}

/* 调整侧边栏内部元素的样式 */
body.mobile .sidebar-item {
    padding: 5px; /* 减少填充 */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body.mobile .sidebar-item img {
    width: 20px; /* 调整图标大小 */
    height: 20px;
}

body.mobile .sidebar-item p {
    margin: 0;
    font-size: 12px; /* 调整字体大小 */
}

body.mobile .popup {
    display: none;
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff;
    padding: 5px; /* 减少填充 */
    border: 1px solid #ffffff;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 12px; /* 调整字体大小 */
}

body.mobile .sidebar-item:hover .popup {
    display: block;
}

body.mobile main .icon img {
    height: 40px; /* 减少高度 */
}

/* 公司介绍 */
body.mobile .introduce {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

body.mobile .introduce p {
    font-size: 24px; /* 调整字体大小 */
    font-weight: bold;
}

/* 产品介绍 背景板 */
body.mobile .product_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-size: cover;
    background-position: center;
    padding: 10px; /* 减少填充 */
    border-radius: 10px;
    color: #333;
    font-family: Arial, sans-serif;
    width: 100%;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body.mobile .chanpinjieshao {
    font-size: 24px; /* 调整字体大小 */
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px; /* 减少间距 */
}

body.mobile .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

body.mobile .product-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px; /* 减少填充 */
    width: calc(50% - 10px); /* 调整宽度 */
    box-sizing: border-box;
    margin-bottom: 10px; /* 减少间距 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body.mobile .product-item img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px; /* 减少填充 */
    margin-bottom: 10px; /* 减少间距 */
}

body.mobile .labels {
    margin-bottom: 10px;
}

body.mobile .labels .recommend,
body.mobile .labels .new {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    border-radius: 3px;
    font-size: 12px;
    margin-right: 5px;
}

body.mobile .labels .recommend {
    background-color: #f56342;
}

body.mobile .labels .new {
    background-color: #ffcc00;
}

body.mobile .description {
    font-size: 14px; /* 减少字体大小 */
    color: #333;
    margin: 10px 0;
}

body.mobile .price {
    font-size: 18px; /* 减少字体大小 */
    color: #e60012;
    margin: 10px 0;
    font-weight: bold;
}

body.mobile .shipping {
    font-size: 12px; /* 减少字体大小 */
    color: #666;
    line-height: 1.5;
}

/* 地图 */
body.mobile .road {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    margin-top: 20px;
}

body.mobile .road p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

body.mobile #map-container {
    max-width: 800px;
    margin: 0 auto;
}

body.mobile #map {
    width: 100%;
    height: 300px;
}

/* 底部样式 */
body.mobile footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* test */
.daohanglan {
    border: 2px solid #ff0000;
    padding: 2px;
}

.logo {
    border: 2px solid #00ff62;
    padding: 2px;
}

.slideshow-container {
    border: 2px solid #3700ff;
    padding: 2px;
}

.dots-container {
    border: 2px solid #00ccff;
    padding: 2px;
}

.dibu {
    border: 2px solid #ff00c8;
    padding: 2px;
}

.sidebar {
    border: 2px solid #e100ff;
    padding: 2px;
}

.introduce {
    border: 2px solid #475739;
    padding: 2px;
}

.introduce_zuoyou {
    border: 2px solid #776a72;
}

.product_description {
    border: 2px solid #d8bbfa;
    padding: 2px;
}

.chanpinjieshao {
    border: 2px solid #d7eb90;
    padding: 2px;
}

.product-container {
    border: 2px solid #660000;
    padding: 2px;
}

.road {
    border: 2px solid #c1f0ec;
    padding: 2px;
}
